body {
    font-family: Arial, sans-serif;
}

header.jumbotron {
    background: url('minimal-wallpaper-light-blue-clean-wallpaper-water.jpg') no-repeat center center;
    background-size: cover;
    color: black;
}

#welcome-text {
    font-family: 'Lobster', cursive;
}

section {
    padding: 60px 0;
}

footer {
    background: #f8f9fa;
}

